# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
Logs/
UnityGenerated/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

Assets/AssetBundles/
AssetBundles/

TPS_cache/

Logs/
UserSettings/

.vs/
/*.apk
/*.aab
/*.zip
XcodeProject/
/remote_config_data
/Assets/Plugins/Android/Firebase/res/values/crashlytics_build_id.xml
/Assets/Plugins/Android/Firebase/res/values/crashlytics_build_id.xml.meta

/Screenshots
/Assets/Plugins/Android/Firebase/res/values/crashlytics_unity_version.xml
/ProjectSettings/AndroidLogcatSettings.asset
/Assets/Plugins/Android/FirebaseCrashlytics.androidlib/res/values/crashlytics_build_id.xml
/Assets/Plugins/Android/FirebaseCrashlytics.androidlib/res/values/crashlytics_build_id.xml.meta
/UserSettings/QuickSearch.settings
/UserSettings/EditorUserSettings.asset
/Logs/AssetImportWorker0.log
/.vs
/.vscode
